doctype 5
html(ng-app='csstiles')
  head
    meta(charset='utf-8')
    title d3tiles

    link(rel='stylesheet', href='/basic.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/feat.css')
    link(rel='stylesheet', href='/floor.css')
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/player.css')
    link(rel='stylesheet', href='/wall.css')
    // angular should be in head element.
    script(src='/contrib/coffee-script.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js').
    script(src='/contrib/angular.js')
    script(src='/contrib/angular-resource.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js')
    script(type='text/javascript').
      var tile_list = !{tile_list}
    script(src='/lib/main.js')
  body
    .container(ng-controller='TilesCtrl')
      a.btn.btn-primary(ng-click='save()') Save
      a.btn.btn-primary(ng-click='load()') Load
      a.btn.btn-default(disabled='disabled') Undo
      a.btn.btn-default(disabled='disabled') Redo
      table#board.tile
        tr(ng-repeat="row in board", ng-init="xi=$index")
          td(ng-repeat="cell in row", ng-click="changeCell(xi, $index)")
            div(ng-repeat="prop in cell", class="{{prop}}")
      input#filter(ng-model='tileFilterText')
      a.btn.btn-default(ng-click='updateBoard()') Refresh
      table#tiles.tile
        tr(ng-repeat="key in tile_keys")
          td(ng-repeat="item in tile_list[key] | filter:tileFilterText")
            div(class="{{key}} {{item}}", ng-click="setSelection(key, item)")
