doctype 5
html
  head
    meta(charset='utf-8')
    title d3tiles

    link(rel='stylesheet', href='/basic.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/feat.css')
    link(rel='stylesheet', href='/floor.css')
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/player.css')
    link(rel='stylesheet', href='/wall.css')
    // angular should be in head element.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js').
    script(src='/contrib/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js')
    script(src='/contrib/coffee-script.js')
  body
    .container
      p Cloudflare 짱짱.
      #board
      #tiles
    script(type='text/javascript').
      var tile_list = !{tile_list}
    script(type='text/coffeescript', src='/lib/main.coffee')
